  <div class="container">
  <div class="panel panel-default">
  <div class="panel-heading"><h3>Background check</h3></div>
  <div class="panel-body">
    <div class="bs-example">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6">
            We know you are awesome but we still need to perform background check.
            Please authorize to perform a background check.
          </div>
          <%= link_to 'Authorize', background_authorize_applicants_path, method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
