  <div class="container">
  <div class="panel panel-default">
  <div class="panel-heading"><h3>Edit application</h3></div>
  <div class="panel-body">
    <div class="bs-example">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-6">
            <%= render :partial => 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
