/* Grid Granularity */
$num-columns: 12;

/* Colours */
$green: #22B573;
$red: #F44336;
$orange: #F78B2F;
$light-gray: #F4F4F4;
$medium-gray: #999;
$dark-gray: #333;

/* Sizing */
$large-padding: 2.5rem;
$medium-padding: 1.25rem;
$small-padding: 0.625rem;
$tiny-padding: 0.3125rem;

$small-max-width: 30rem;
$medium-max-width: 60rem;

$tiny-font: 68.75%;
$small-font: 75%;
$medium-font: 87.5%;
