@import '_variables';

.button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid $medium-gray;
  border-radius: 4px;
  color: $medium-gray;
  padding: $tiny-padding $medium-padding;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  transition: background-color 0.125s ease-out, color 0.125s ease-out;

  &:hover {
    background-color: $medium-gray;
    color: #FFF;
  }

  &:hover, &:active, &:focus {
    outline: none;
  }

  &.positive {
    border-color: $green;
    color: $green;
    &:hover {
      background-color: $green;
      color: #FFF;
    }
  }

  &.negative {
    border-color: $red;
    color: $red;
    &:hover {
      background-color: $red;
      color: #FFF;
    }
  }

  &.expand {
    width: 100%;
    display: block;
  }

  &.large {
    padding: $small-padding $large-padding;
  }

  &.small {
    padding: $tiny-padding $small_padding;
  }
}
