@import '_variables';
@import '_mixins';

a {
  text-decoration: none;
  transition: color 0.125s ease-out;
  color: $medium-gray;
  &:hover {
    color: $dark-gray;
  }
}

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 300;
  margin: 0 0 $small-padding;
  strong {
    font-weight: 600;
  }
}

body, p {
  font-size: $medium-font;
}

input[type="text"],
input[type="number"],
select {
  border: none;
  padding: $small-padding;
  height: 40px;
  line-height: 1;

  &:focus, &:hover, &:active {
    outline: none;
  }
}

select {
  border-radius: 0px;
  background: none;
}

.text-center {
  text-align: center;
}
